<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- kulcsok, amiket ConfigurationManager<AppSettings> olvas -->
		<add key="apiUrl"    value="http://rendfejl2000.northeurope.cloudapp.azure.com:8080"/>
		<add key="apiKey"    value="1-ad530e8b-0299-4748-91c1-28109518270e"/>
	</appSettings> 
</configuration>