<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- kulcsok, amiket ConfigurationManager<AppSettings> olvas -->
		<add key="apiurl"    value="http://rendfejl2000.northeurope.cloudapp.azure.com:8080"/>
	</appSettings> 
</configuration>