<<<<<<< HEAD
﻿<div id="mvcContainer-@Dnn.ActiveModule.ModuleID">
    @RenderBody()
</div>


=======
﻿<div id="mvcContainer-@Dnn.ActiveModule.ModuleID">
    @RenderBody()
</div>


>>>>>>> 31121639048c6006417ddf5cbecf01d93a108438
